// Global colors

$primary-color: #3a54d6;
$secondary-color: #27a6ff;

$white-color: #ffffff;

$twitter-color: #49b8f1;
$facebook-color: #2941b9;

$dark-color: #111111;
$dark-color-light-1: #222222;
$dark-color-light-2: #666666;
$dark-color-light-3: #888888;
$dark-color-light-4: #bbbbbb;
$dark-color-light-5: #dddddd;
$dark-color-light-6: #f7f7f7;
