@import 'main';

.subheader {
  background: $primary-color;
  padding-top: PxToEm(55);
  padding-bottom: PxToEm(100);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;

  $subheader-heading-fzs: 25;

  &__heading {
    font-size: PxToEm($subheader-heading-fzs);
    text-transform: uppercase;
    color: $white-color;
    letter-spacing: 2.5px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: PxToEm(20, $subheader-heading-fzs);
  }
}
