<header class="header">
  <div class="header__left">
    <img
      src="/assets/img/icons/search-icon.svg"
      alt="Search"
      class="header__icon header__icon--border-left"
    />
    <img
      src="/assets/img/icons/hamburger-icon.svg"
      alt="Navigation"
      class="header__icon header__icon--border-left"
    />
  </div>
  <app-logo></app-logo>
  <div class="header__right">
    <img
      src="/assets/img/icons/user-icon.svg"
      alt="User"
      class="header__icon header__icon--border-right"
    />
    <img
      src="/assets/img/icons/cart-icon.svg"
      alt="Cart"
      class="header__icon  header__icon--border-right"
    />
  </div>
  <img
    src="/assets/img/icons/hamburger-icon.svg"
    alt="Navigation"
    class="header__hamburger"
  />
</header>
