<ul class="timer">
  <li class="timer__item">
    <span class="timer__counter">01</span
    ><span class="timer__time-unit">Day</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">23</span
    ><span class="timer__time-unit">Hours</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">55</span
    ><span class="timer__time-unit">Mins</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">32</span
    ><span class="timer__time-unit">Secs</span>
  </li>
</ul>
