<ul class="timer">
  <li class="timer__item">
    <span class="timer__counter">{{ timer.days }}</span
    ><span class="timer__time-unit">Day</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">{{ timer.hours }}</span
    ><span class="timer__time-unit">Hours</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">{{ timer.minutes }}</span
    ><span class="timer__time-unit">Mins</span>
  </li>
  <li class="timer__item">
    <span class="timer__counter">{{ timer.seconds }}</span
    ><span class="timer__time-unit">Secs</span>
  </li>
</ul>
