<div class="deal-of-day">
  <div class="deal-of-day__content">
    <h6 class="deal-of-day__mini-heading">Deal of Day</h6>
    <h2 class="deal-of-day__heading">Acronym Jacket: J1A-GT</h2>
    <span class="deal-of-day__text"
      >Suspendisse massa leo, vestibulum cursus nulla sit amet, fringilla
      placerat lorem. Cras fermentum, sapien eu accumsan ultrices.</span
    >
    <div class="deal-of-day__price-history">
      <span class="deal-of-day__price">$1235</span>
      <span class="deal-of-day__price deal-of-day__price--strike">$1890</span>
    </div>
    <app-timer></app-timer>
  </div>
  <div class="deal-of-day__img-wrapper">
    <img
      src="/assets/img/deal-of-day/deal-of-day.webp"
      alt="Deal of day"
      class="deal-of-day__img"
    />
  </div>
</div>
