@import "main";

.awards {
  min-height: PxToEm(500);

  @include mq(sm, max) {
    display: none;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 250px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: PxToEm(80);
      cursor: pointer;

      &:hover img {
        transform: scale(1.2);
      }
    }

    &__img {
      transition: all 0.15s ease-in-out;
    }
  }
}
